{
    "intents": [{
        "intent": "PauseIntent"
    }, 
    {
        "intent": "PlayIntent"
    },
    {
        "intent": "GuideIntent"
    }
    {
        "intent": "LiveTVIntent"
    }
    {
        "intent": "InfoIntent"
    },
]
}